.navegacion,.w3-bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.navegacion{
    top:0
}
.w3-bottom{
    bottom:0
}

.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}