::selection{
  color: #000;
  background: #ADC9E9;
}

.nav{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2F4A6A;
  padding: 0px 15px; /* Tamaño de la caja*/
  transition: all .50s ease;
}
.nav__logo {
  display: flex;
  align-items: center;
  padding: 10px 0; /* Ajusta el espaciado según tus preferencias */
}

.nav__ul{
  display: flex;
  list-style-type: none;
}

.nav__ul a{
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 15px;
  transition: all.50s ease;
}

.nav__ul a:hover{
  color: #bbb
}

.nav__buttons{
  align-items: center;
  display: flex;
}

.nav__buttons a{
  text-decoration: none;
  margin-right: 15px;
  border: 2px solid #fff;
  padding: 5px 0px;
  width: 135px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.nav__buttons a:hover{
  color: #bbb;
  border-color: #bbb;
}

#menu-icon{ /*Tengo la sensacion que no esta centrado, que esta mas a la izquierda. */
  display: none;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
  border: 2px solid #fff;
  padding: 6px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 25px;
}

@media (max-width: 1100px){
  #menu-icon{
    display: block;
  }
  .nav__ul{
    display: none;
    position: absolute;
    top: 100%;
    right: 15px;
    width: 340px;
    height: auto;
    background-color: #2F4A6A;
    flex-direction: column;
    justify-content: center; 
    border: 2px solid #fff;
    transition: all .50s ease;
  }
  .nav__ul li{
    width: 100%; 
    border-bottom: 1px solid #fff; 
  }
  .nav__ul li:last-child {
    border-bottom: none;
  }
  .nav__ul a{
    display: block;
    margin: 5px 0;
    padding: 10px 25px;
    text-align: center; /* Alinea el texto al centro */
    transition: all .50s ease;
  }
  .nav__ul a:hover{
    color: #bbb
  }
  .nav__ul.show-menu{
    display: flex;
  }
}