::selection{
  color: #000;
  background: #ADC9E9;
}

.nav{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2F4A6A;
  padding: 0px 15px; /* Tamaño de la caja*/
  transition: all .50s ease;
}
.nav__logo {
  display: flex;
  align-items: center;
  padding: 10px 0; /* Ajusta el espaciado según tus preferencias */
}

.nav__ul{
  display: flex;
  list-style-type: none;
}

.nav__ul a{
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 20px;
  transition: all.50s ease;
}

.nav__ul a:hover{
  color: #bbb
}

.nav__buttons{
  display: flex;
  align-items: center;
}

.nav__buttons a{
  text-decoration: none;
  margin-right: 20px;
  border: 2px solid #fff;
  padding: 5px 0px;
  width: 155px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.nav__buttons a:hover{
  color: #bbb;
  border-color: #bbb;
}