::selection{
  color: #000;
  background: #ADC9E9;
}

nav{
  position: fixed;
  background: #2F4A6A;
  width: 100%;
  padding: 10px 0;
  z-index: 2;
}

nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-left: 5px;
}

.img-brand {
  width: 40%;
}

.menu ul{
  display: inline-flex;
}

.menu ul li{
  list-style: none;
  margin-left: 7px;
}

.menu ul li:first-child{
  margin-left: 0px;
}

.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu ul li a:hover{
  background: #ADC9E9;
  color: #2F4A6A;
}