<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/logo.ico">
    <title>Boockbuster</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,200;1,300;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style/index.css">
    <link rel="stylesheet" type="text/css" href="./style/menu.css">
    <link rel="stylesheet" type="text/css" href="./style/contact.css">
    <link rel="stylesheet" type="text/css" href="./style/footer.css">
    <script src="https://kit.fontawesome.com/b2c0a025e7.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav">
        <a href="/index.html" class="nav__logo">
            <picture>
                <source media="(max-width: 1280px)" srcset="./img/logo_mobile.svg">
                <img src="./img/logo_desktop.svg" alt="">
            </picture>
        </a>
        <ul class="nav__ul">
            <li class="nav__li"><a href="./index.html">Inicio</a></li>
            <li class="nav__li"><a href="./coleccion.html">Cátalogo</a></li>
            <li class="nav__li"><a href="./contacto.html">Contacto</a></li>
        </ul>
        <div class="nav__buttons">
            <!-- <a href="./login.html" class="nav__buttons-sing-in">Iniciar Sesión</a> -->
            <a href="./registro.html" class="nav__buttons-register">Registrarse</a>
            <i class="fas fa-bars" id="menu-icon"></i>
        </div>
    </nav>

    <main>
        <div class="inner" id="app">
            <form>
                <h3>contacto</h3>
                <label class="form-group">
                    <input type="text" class="form-control" v-model="nombreContacto">
                    <span>Nombre y apellido</span>
                    <span class="border"></span>
                </label>
                <label class="form-group">
                    <input type="text" class="form-control" v-model="email">
                    <span for="">Correo electronico</span>
                    <span class="border"></span>
                </label>
                <label class="form-group">
                    <textarea class="form-control" v-model="comentario"></textarea>
                    <span for="">Dejanos tu mesaje</span>
                    <span class="border"></span>
                </label>
            </form>
            <button @click="validarTodo">Consultar</button>
        </div>
        </div>
        <br><br><br>
        <div align="center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1642.7154667572406!2d-58.507668128556915!3d-34.567961112996144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6fde0078507%3A0x1766d6ab498dab7e!2sBiblioteca%20Brigadier%20Gral.%20Cornelio%20Saavedra!5e0!3m2!1ses-419!2sar!4v1697738455755!5m2!1ses-419!2sar"
                width="80%" height="225px" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" marginwidth="100px" margin="0 auto">Dirección de la
                Biblioteca</iframe>
        </div>
        <br>
        <div>
            <p class="transportes"><strong>Transportes Cercanos: </strong><br>
                Líneas de colectivos: 21, 28, 110, 111, 117, 127, 140, 169, 176
            </p>

        </div>
        <br><br><br>
    </main>

    <footer class="footer body-footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col">
                    <h4>Bookbuster</h4>
                    <ul>
                        <li><a href="/nosotros.html">Sobre Nosotros</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>¿Necesitas Ayuda?</h4>
                    <ul>
                        <li><a href="/faqs.html">Preguntas Frecuentes</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Información Importante</h4>
                    <ul>
                        <li><a href="/tos.html">Términos y Condiciones</a></li>

                    </ul>
                </div>
                <div align="left" class="footer-col">
                    <h4>Nuestras Redes Sociales</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./code/menu.js"></script>
    <script src="./code/validaciones.js"></script>
</body>

</html>